#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .container{
    display: flex;
    flex-direction: row;
  }
  
  .day{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    width: 60px;
    height: 24px
  }
  .square{
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: #535bf2;
  }
  
  .row{
    display: row;
    flex-direction: row;
  }